body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;

}
hr{
  border-style: none;
  border-top: 8px dotted grey;
  margin: 100px auto 100px auto;
  width: 6%;

}
h1 {
  font-size: 5.625rem;   /*16px =1em =100%  */
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;/*16px =1em =100%  therefore 40px = 2.5rem */
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.pro {
  text-decoration: underline;
}

.bottomcloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.topcloud {
  position: absolute;
  right: 250px;
  top: 50px;
}
.middle-container{
  margin: 40px 0;
}
.bottom-container{
  background-color: #66BFBF;
  margin-bottom: 0;
  height: 30%;
  padding: 30px 0 5px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
  text-align:left;
}

.webd_img,.gaming_img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.code_img{
  width: 25%;
  float: right;
  margin-right: 30px;
}

.btn {
  margin-top: 50px;
   background: #11999E;
   background-image: -webkit-linear-gradient(top, #11999E, #66BFBF);
   background-image: -moz-linear-gradient(top, #11999E, #66BFBF);
   background-image: -ms-linear-gradient(top, #11999E, #66BFBF);
   background-image: -o-linear-gradient(top, #11999E, #66BFBF);
   background-image: -webkit-gradient(to bottom, #11999E, #66BFBF);
   -webkit-border-radius: 100px;
   -moz-border-radius: 100px;
   border-radius: 100px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 16px;
   font-weight: 200;
   padding: 12px;
   text-shadow: 1px 1px 20px #FFFFFF;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   background: #10BBC2;
   border: inset #337FED 2px;
   -webkit-border-radius: 90px;
   -moz-border-radius: 90px;
   border-radius: 90px;
   text-decoration: none;
}
a{
  margin: 30px 11px;
}
.copyright{
  font-weight: 600;
  color: #EAF6F6;
  font-size: 0.75rem;
  position: relative;
  top: 1rem;

}
